  <form nz-form [formGroup]="configForm" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label>Label</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="label" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Name</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Id</nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="id" />
      </nz-form-control>
    </nz-form-item>
  </form>
